<div class="list-inline intro-social-buttons btn-group btn-group-justified m-b-30">
    <a href="{{ hwi_oauth_login_url('google')  }}" class="btn btn-default btn-lg">
        <i class="fa fa-google fa-fw"></i> <span class="hidden-xs network-name">Google</span>
    </a>
    <a href="{{ hwi_oauth_login_url('facebook')  }}" class="btn btn-default btn-lg">
        <i class="fa fa-facebook fa-fw"></i> <span class="hidden-xs network-name">Facebook</span>
    </a>
    {#<a href="#" class="btn btn-default btn-lg">#}
        {#<i class="fa fa-twitter fa-fw"></i> <span class="hidden-xs network-name">Twitter</span>#}
    {#</a>#}
</div>