{% extends 'base.html.twig' %}

{% block body %}
    {% block sidebar_wrapper %}
    <div class="page-sidebar" data-pages="sidebar">
        <div id="appMenu" class="sidebar-overlay-slide from-top">
        </div>
        <!-- BEGIN SIDEBAR HEADER -->
        <div class="sidebar-header">
            <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
            <div class="sidebar-header-controls">
                <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
                </button>
                <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
                </button>
            </div>
        </div>
        <!-- END SIDEBAR HEADER -->
        <!-- BEGIN SIDEBAR MENU -->
        <div class="sidebar-menu">
            <ul class="menu-items">
                <li class="m-t-30">
                    <a href="#" class="detailed">
                        <span class="title">Page 1</span>
                        <span class="details">234 notifications</span>
                    </a>
                    <span class="icon-thumbnail "><i class="pg-mail"></i></span>
                </li>
                <li class="">
                    <a href="#">
                        <span class="title">Page 2</span>
                    </a>
                    <span class="icon-thumbnail "><i class="pg-social"></i></span>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <span class="title">Page 3</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-grid"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="#">Sub Page 1</a>
                            <span class="icon-thumbnail">sp</span>
                        </li>
                        <li class="">
                            <a href="#">Sub Page 2</a>
                            <span class="icon-thumbnail">sp</span>
                        </li>
                        <li class="">
                            <a href="#">Sub Page 3</a>
                            <span class="icon-thumbnail">sp</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endblock %}

    {% block container %}
        {#{{ knp_menu_render('AppBundle:Builder:mainMenu',{'currentClass': 'active','template': 'menu/bootstrap_menu.html.twig'}) }}#}

        <div class="page-container">
            <!-- START PAGE HEADER WRAPPER -->
            <!-- START HEADER -->
            {% block navbar_wrapper %}
            <div class="header ">
                {% block navbar %}
                <!-- START MOBILE CONTROLS -->
                <!-- LEFT SIDE -->
                <div class="pull-left full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <div class="sm-action-bar">
                        <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
                            <span class="icon-set menu-hambuger"></span>
                        </a>
                    </div>
                    <!-- END ACTION BAR -->
                </div>
                <!-- RIGHT SIDE -->
                <div class="pull-right full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <div class="sm-action-bar">
                        <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                            <span class="icon-set menu-hambuger-plus"></span>
                        </a>
                    </div>
                    <!-- END ACTION BAR -->
                </div>
                <!-- END MOBILE CONTROLS -->
                <div class=" pull-left sm-table">
                    <div class="header-inner">
                        <div class="brand inline">
                            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                        </div>
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
                            <li class="p-r-15 inline">
                                <div class="dropdown">
                                    <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
                                        <span class="bubble"></span>
                                    </a>
                                    <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                                        <div class="notification-panel">
                                            <!-- START Notification Body-->
                                            <div class="notification-body scrollable">
                                                <!-- START Notification Item-->
                                                <div class="notification-item  clearfix">
                                                    <div class="heading">
                                                        <a href="#" class="text-danger">
                                                            <i class="fa fa-exclamation-triangle m-r-10"></i>
                                                            <span class="bold">98% Server Load</span>
                                                            <span class="fs-12 m-l-10">Take Action</span>
                                                        </a>
                                                        <span class="pull-right time">2 mins ago</span>
                                                    </div>
                                                    <div class="option">
                                                        <a href="#" class="mark"></a>
                                                    </div>
                                                </div>
                                                <!-- END Notification Item-->
                                            </div>
                                            <!-- END Notification Body-->
                                            <!-- START Notification Footer-->
                                            <div class="notification-footer text-center">
                                                <a href="#" class="">Read all notifications</a>
                                                <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                                                    <i class="pg-refresh_new"></i>
                                                </a>
                                            </div>
                                            <!-- END Notification Footer-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p-r-15 inline">
                                <a href="#" class="icon-set clip "></a>
                            </li>
                            <li class="p-r-15 inline">
                                <a href="#" class="icon-set grid-box"></a>
                            </li>
                        </ul>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
                    </div>
                </div>
                <div class=" pull-right">
                    <div class="header-inner">
                        <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
                    </div>
                </div>
                <div class=" pull-right">
                    <!-- START User Info-->
                    <div class="visible-lg visible-md m-t-10">
                        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                            <span class="semi-bold">David</span> <span class="text-master">Nest</span>
                        </div>
                        <div class="dropdown pull-right">
                            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
                            </button>
                            <ul class="dropdown-menu profile-dropdown" role="menu">
                                <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                                </li>
                                <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
                                </li>
                                <li><a href="#"><i class="pg-signals"></i> Help</a>
                                </li>
                                <li class="bg-master-lighter">
                                    <a href="#" class="clearfix">
                                        <span class="pull-left">Logout</span>
                                        <span class="pull-right"><i class="pg-power"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END User Info-->
                </div>
                {% endblock %}
            </div>
            {% endblock %}
            <!-- END HEADER -->
            <!-- END PAGE HEADER WRAPPER -->
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper">
                <!-- START PAGE CONTENT -->
                {% block content_wrapper %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                {% endblock %}
                <!-- END PAGE CONTENT -->
                <!-- START FOOTER -->
                <div class="container-fluid container-fixed-lg footer">
                    <div class="copyright sm-text-center">
                        <p class="small no-margin pull-left sm-pull-reset">
                            <span class="hint-text">Copyright © 2014</span>
                            <span class="font-montserrat">REVOX</span>.
                            <span class="hint-text">All rights reserved.</span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a>
                        </span>
                        </p>
                        <p class="small no-margin pull-right sm-pull-reset">
                            <a href="#">Hand-crafted</a>
                            <span class="hint-text">&amp; Made with Love ®</span>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- END FOOTER -->
            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
    {% endblock %}
{% endblock %}
