{% extends 'layout.html.twig' %}

{% block contents %}

    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Lorem ipsum dolor.</h1>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, voluptatem?</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{{ url('fos_user_security_login')  }}" class="btn btn-default btn-lg">
                                    <i class="fa fa-google fa-fw"></i> <span class="network-name">Sign In</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">

            </div>

        </div>
        <!-- /.container -->

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
