{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h5>Connect With:</h5>
        {% include "blocks/social_connect.html.twig" %}
        {#{% include "FOSUserBundle:Registration:register_content.html.twig" %}#}
    </div>
</div>
{% endblock fos_user_content %}
